/* global.css */

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
@layer base {
  /* Custom Heading Styles */
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  
  /* Custom Text Outline Styles */
  .text-outline {
    -webkit-text-stroke: 1px #ffffff; 
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #3c2bcf; 
  }
}



html, body {
  height: 100%; 

  /* Background image settings */
  background-image: url('public/image.JPG'); /* Public folder me image.JPG ka path */
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 

  /* Fallback for mobile browsers where background-attachment: fixed might not work */
  @supports not (background-attachment: fixed) {
    background-attachment: scroll;
  }
}


